{
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ],
  "env": {
    "amd": true,
    "browser": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off",
    "react/prop-types": "off"
  }
}
